.card{
    /* box-shadow: 0 5px 10px #6305D3; */
    border: none;
    width: 100%;
    border-radius: 15px;
    /* overflow:hidden ; */
}

    .card .card-header {
        /* border: 1px solid #6305D3; */
        width: 100%;
    }

    .card .card-header .ava-user-chat{
        width: 80%;
        border: 1px solid #6305D3;
        border-radius: 10px 0 0 0;
        padding: 5px 20px;
    }

    .card .card-header .ava-user{
        width: 20%;
        border: 1px solid #6305D3;
        border-radius: 0 10px 0 0;
        padding: 5px 20px;
    }

    .card .card-body {
        border: 1px solid #6305D3;
    }