/* Tổng thể bố cục */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

.container {
    display: flex;
    align-items: stretch; /* Đảm bảo các phần tử con cùng chiều cao */
    gap: 20px; /* Khoảng cách giữa hình ảnh và form */
}

/* Phong cách cho các hình ảnh bên trái và phải */
.image-left, .image-right {
    width: 200px; /* Điều chỉnh chiều rộng cho hình ảnh */
    display: flex;
    align-items: center;
    justify-content: center;
}

    .image-left img, .image-right img {
        width: 100%;
        height: 500px; /* Chiều cao của ảnh sẽ tự động khớp với container */
        object-fit: cover; /* Giúp ảnh giữ tỷ lệ mà không bị méo */
    }

/* Phần form ở giữa */
#form1 {
    width: 400px;
    /* Điều chỉnh chiều rộng của form */
    height: 500px;
    padding: 20px;
    background-color: #ffffff;
    box-sizing: border-box;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
